<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>

    {% block meta %}
    <meta name="keywords" content="{{ KEYWORDS }}">
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="author" content="{{ AUTHOR }}">
    {% endblock %}

    <meta name="copyright" content="{{ COPYRIGHT }}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/brackets.ico" type="image/x-icon"/>

    {% block rss %}
    {% if query and query["metadata.tags"] %}
      <link href="{{ url_for('recent_feeds_by_tag', tag=query["metadata.tags"]) }}"
        rel="alternate"
        title="{{ SITE_NAME }} Recent Changes"
        type="application/atom+xml">
    {% else %}
      <link href="{{ url_for('recent_feeds') }}"
        rel="alternate"
        title="{{ SITE_NAME }} Recent Changes"
        type="application/atom+xml">
    {% endif %}
    {% endblock %}

    <link rel="stylesheet" href="{{ STATIC_URL }}/{{ TEMPLATE_THEME }}/css/960.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}/{{ TEMPLATE_THEME }}/css/prettify.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}/{{ TEMPLATE_THEME }}/css/pygments.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}/{{ TEMPLATE_THEME }}/css/base.css" type="text/css" media="all" charset="utf-8">
    <!-- between concepts -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/{{ TEMPLATE_THEME }}/css/themes/basic.css" type="text/css" media="all" charset="utf-8">

    <!--[if IE 6]>
    <script src="{{ STATIC_URL }}js/DD_belatedPNG_0.0.7a-min.js"></script>
    <script>
      DD_belatedPNG.fix('#bleeder, .logo');
    </script>
    <style>
      #bleeder{ display: none;}
      #form-search{ width: auto; display: block; float: right; clear: both;}
      .navbar-one{ float: right; clear: both;}
    </style>
    <![endif]-->

    {% block extra_head %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}blog{% endblock %}">
    <div id="bleeder"></div>

    <div id="body-container" class="clearfix">
    {% block body %}

      <div id="header" class="clearfix">
        <div style="float: left" id="logo">
           <h1><a href="/" title="{{ SITE_NAME }}">{{ SITE_NAME }}</a></h1>

        </div>
           {% if query and query["metadata.tags"] %}

            <a style="float: right;" href="{{ url_for('recent_feeds_by_tag', tag=query["metadata.tags"]) }}">
          {% else %}
            <a style="float: right;" href="{{ url_for('recent_feeds') }}">
          {% endif %}
          <img width="50" height="50" src="{{ STATIC_URL }}/{{ TEMPLATE_THEME }}/img/rss-icon.png"></a>
        <!-- /logo -->
      </div>
      <!-- /header -->

      <div class="container_16">

        <div class="grid_9 suffix_1">
          <div class="content">
            {% block content %}{% endblock %}
          </div>
        </div>

        <div id="right-rail" class="grid_6">
          {% block sidebar %}
          {% include 'red/sections/sidebar.html' %}
          {% endblock %}
        </div>

      </div>
      <!-- /container_16 -->

    {% endblock %}
    </div>
    <!-- /body-container -->

    <div id="footer"><p>Copyright <strong>Flavio Percoco</strong> 2012-2013.<br/>
      Proudly powered by <a href="https://github.com/FlaPer87/monblog">monblog</a>. Theme <a href="https://github.com/montylounge/django-mingus">django-mingus</a></p>
    </div>
    <!-- /footer -->

    <!-- google analtyics -->
    {% block extra_body %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      jQuery(function($) {
        $.getScript('{{ STATIC_URL }}/{{ TEMPLATE_THEME }}/js/prettify.js', function(){
          prettyPrint();
        });
      });
    </script>
    {% endblock %}
  </body>
</html>
