{% extends "red/base.html" %}
{% block content %}
    {% for post in posts %}
        <div class="post clearfix">
            <div class="date">{{ post.uploadDate|datetime('%b %d %Y') }}</div>
            {% if post['metadata']['title'] %}
                <h3><a href="{{ url_for("get_post", post_id=post._id) }}">{{ post['metadata']['title']}}</a></h3>
            {% else %}
                <h3><a href="{{ url_for("get_post", post_id=post._id) }}">{{ post.filename }}</a></h3>
            {% endif %}

            {% if post['metadata'] %}
                {% for k, v in post['metadata'].items() %}
                    {% if k == 'author' %}
                        <p class="list-tease">{{k}} - {{v}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
