{% extends "red/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="post clearfix">
      <div class="date">{{ post.upload_date|datetime('%b %d') }}</div>
      {% if post['metadata']['title'] %}
          <h3><a href="/post/{{post._id}}">{{ post['metadata']['title']}}</a></h3>
      {% else %}
          <h3><a href="/post/{{post._id}}">{{ post.filename }}</a></h3>
      {% endif %}

        <div class="body">
          {% if md %}
            {{ post.read()|markdown|safe }}
          {% else %}
            {{ post.read()|safe }}
          {% endif %}
        </div>

        {%if tags %}
          {% for tag in tags %}
            <p class="list-tease">{{tag}}</p>
          {% endfor %}
        {% endif %}
    </div>
{% endblock %}